<div class="perfil-card">
    <div class="info-container">
      <div class="info-row">
        <span>Nombre Completo:</span>
        <input type="text" placeholder="Ingresa tu nombre completo">
      </div>
      <hr class="linea" />
      <div class="info-row">
        <span>Correo:</span>
        <input type="email" placeholder="Ingresa tu correo electrónico">
      </div>
      <hr class="linea" />
      <div class="info-row">
        <span>Telefono:</span>
        <input type="tel" placeholder="Ingresa tu número de teléfono">
      </div>
      <hr class="linea" />
      <div class="info-row">
        <span>Direccion:</span>
        <input type="text" placeholder="Ingresa tu dirección">
      </div>
      <hr class="linea" />
    </div>
  
    <div class="update-button">
      <button>Actualizar perfil</button>
    </div>
  </div>
  
  