<div *ngIf="usuarioGuardado">

<div class="perfil-card">
  <div class="info-container">
    <div class="info-row">
      <span>Nombre Completo:</span>
      <span>{{usuarioGuardado.primer_nombre }} {{usuarioGuardado.primer_apellido }}</span> <!-- Utilizamos un span para mostrar el nombre -->
    </div>
    <div class="info-row">
      <span>Correo:</span>
      <span>{{usuarioGuardado.email }}</span> <!-- Utilizamos un span para mostrar el correo -->
    </div>
    <div class="info-row">
      <span>Teléfono:</span>
      <span>{{usuarioGuardado.telefono }}</span> <!-- Utilizamos un span para mostrar el teléfono -->
    </div>
  </div>
  <div class="update-button">
    <button  (click)="abrirediatModal(usuarioGuardado)">Actualizar perfil</button>
  </div>
</div>
</div>