<div class="custom-container">
  <div class="row">
    <div class="col-12">
      <div class="image-container">
        <img src="./../../../assets/img/imgcatemecani.jpg" class="img-fluid" alt="Imagen a lo ancho de la pantalla">
        <div class="promotions">
          <h2>Promoción 1</h2>
          <p>Descripción de la promoción 1</p>
          <!-- Agrega más promociones si es necesario -->
          <!-- <h2>Promoción 2</h2>
          <p>Descripción de la promoción 2</p> -->
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcateelectr1.jpg" class="card-img-top" alt="Imagen 1">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Eléctrico Spark</h2>
                <p class="card-text">Ofrecemos un servicio completo de reparación eléctrica para satisfacer tus necesidades.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcatemecani.jpg" class="card-img-top" alt="Imagen 2">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Mecánico AutoFix</h2>
                <p class="card-text">Ofrecemos una gama completa de servicios de mantenimiento y reparación para satisfacer las necesidades de tu automóvil.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcatelamipin.jpg" class="card-img-top" alt="Imagen 3">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller de Lámina y Pintura ColorFix</h2>
                <p class="card-text">¡Transforma el aspecto de tu vehículo con nuestros servicios de lámina y pintura! En ColorFix, ofrecemos soluciones de calidad para restaurar la apariencia de tu automóvil.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcateelectr1.jpg" class="card-img-top" alt="Imagen 1">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Eléctrico Spark</h2>
                <p class="card-text">Ofrecemos un servicio completo de reparación eléctrica para satisfacer tus necesidades.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcatemecani.jpg" class="card-img-top" alt="Imagen 2">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Mecánico AutoFix</h2>
                <p class="card-text">Ofrecemos una gama completa de servicios de mantenimiento y reparación para satisfacer las necesidades de tu automóvil.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcatemecani.jpg" class="card-img-top" alt="Imagen 2">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Mecánico AutoFix</h2>
                <p class="card-text">Ofrecemos una gama completa de servicios de mantenimiento y reparación para satisfacer las necesidades de tu automóvil.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  