@import "bootstrap/dist/css/bootstrap.min.css";

body, html {
  margin: 0;
  padding: 0;
}
.container-fluid {
  width: 100%;
  margin: 0 auto;
  display: block;
  object-position: top;
  position: relative;
  top: -70px; /* Ajusta la posición hacia arriba para compensar el espacio del navbar */
}
.container-fluid img {
  width: 100%;
  height: auto;
  display: block;
}
.custom-container {
  margin-top: -30px; /* Ajusta el margen superior negativo para compensar el espacio del navbar */
}


  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Para que las tarjetas se envuelvan cuando no haya suficiente espacio */
    margin-top: 30px;
  }
  
  .col-sm-4 {
    flex: 0 0 calc(33.33% - 10px); /* Calculamos el ancho de cada tarjeta para que ocupen aproximadamente un tercio del ancho */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
  }
  .custom-container {
    width: 100%;
    
  
  }
  .card {
    height: 300px; /* Establece una altura fija para todas las tarjetas */
  }
  
  .card-img-top {
    height: 100%; /* Ocupa toda la altura del contenedor */
    object-fit: cover; /* Escala la imagen para que cubra todo el contenedor sin distorsionarse */
  }
  
  .image-container {
    position: relative;
    width: 100%;
    max-height: 50vh; /* Establece una altura máxima del 50% de la altura de la pantalla */
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .image-container img {
    width: 100%;
    height: 50%;
    display: block;
  }
  
  .promotions {
    position: absolute;
    top: 20px; /* Ajusta la posición vertical según sea necesario */
    left: 20px; /* Ajusta la posición horizontal según sea necesario */
    color: white;
    z-index: 1; /* Para que las promociones estén por encima de la imagen */
  }
  
  .promotions h2,
  .promotions p {
    margin: 0;
  }
  .flip-card {
    perspective: 1000px; /* Profundidad de la perspectiva para el efecto 3D */
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s; /* Transición suave para el efecto giratorio */
    transform-style: preserve-3d; /* Conserva la transformación 3D */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Gira la tarjeta 180 grados al pasar el cursor */
  }
  
  .flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Oculta el reverso de la tarjeta durante la rotación */
  }
  
  .flip-card-front {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg); /* Inicialmente muestra la parte trasera */
    backface-visibility: hidden; /* Oculta el reverso de la tarjeta durante la rotación */
    border-radius: 10px; /* Borde redondeado */
    background-color: white; /* Color de fondo */
    color: #333; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Asegúrate de aplicar el mismo borde redondeado que en la tarjeta */
  }
  .flip-card-back h2 {
    margin-bottom: 10px; /* Espaciado inferior para el título */
    margin-top: 10px;
  }
  
  .flip-card-back p {
    margin: 0; /* Eliminar el margen predeterminado del párrafo */
    margin-bottom: 10px;
  }
  .btn-primary {
    color: #fff; /* Color del texto */
    background-color:  #9DB2C3; /* Color de fondo */
    border-color:  #9DB2C3; /* Color del borde */
  }
  
  .btn-primary:hover {
    color: #fff; /* Color del texto al pasar el mouse */
    background-color: #E74C3C ; /* Color de fondo al pasar el mouse */
    border-color: #E74C3C ; /* Color del borde al pasar el mouse */
  }
  
  
  
  
  
  
  
  

  
