<div class="custom-container">
  <div class="row">
    <div class="col-12">
      <div class="image-container">
        <img src="./../../../assets/img/imgcateprin2.jpg" class="img-fluid" alt="Imagen a lo ancho de la pantalla">
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcategoria1.jpg" class="card-img-top" alt="Imagen 1">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Eléctrico Spark</h2>
                <p class="card-text">Ofrecemos un servicio completo de reparación eléctrica para satisfacer tus necesidades.</p>
                <a href="detalle-taller" class="btn btn-primary btn-ver-detalle" data-nombre="Taller Eléctrico Spark">Ver detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcatemecani.jpg" class="card-img-top" alt="Imagen 2">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Mecánico AutoFix</h2>
                <p class="card-text">Ofrecemos una gama completa de servicios de mantenimiento y reparación para satisfacer las necesidades de tu automóvil.</p>
                <a href="detalle-taller" class="btn btn-primary">Ver detalle</a> <!-- Botón Ver detalle -->
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcatelamipin.jpg" class="card-img-top" alt="Imagen 3">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller de Lámina y Pintura ColorFix</h2>
                <p class="card-text">¡Transforma el aspecto de tu vehículo con nuestros servicios de lámina y pintura! En ColorFix, ofrecemos soluciones de calidad para restaurar la apariencia de tu automóvil.</p>
                <a href="detalle-taller" class="btn btn-primary">Ver detalle</a> <!-- Botón Ver detalle -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcate3.jpg" class="card-img-top" alt="Imagen 1">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Eléctrico Spark</h2>
                <p class="card-text">Ofrecemos un servicio completo de reparación eléctrica para satisfacer tus necesidades.</p>
                <a href="detalle-taller" class="btn btn-primary">Ver detalle</a> <!-- Botón Ver detalle -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/catetaller1.jpg" class="card-img-top" alt="Imagen 2">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Mecánico AutoFix</h2>
                <p class="card-text">Ofrecemos una gama completa de servicios de mantenimiento y reparación para satisfacer las necesidades de tu automóvil.</p>
                <a href="detalle-taller" class="btn btn-primary">Ver detalle</a> <!-- Botón Ver detalle -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3 flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./../../../assets/img/imgcateprin.png" class="card-img-top" alt="Imagen 2">
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <h2>Taller Mecánico AutoFix</h2>
                <p class="card-text">Ofrecemos una gama completa de servicios de mantenimiento y reparación para satisfacer las necesidades de tu automóvil.</p>
                <a href="detalle-taller" class="btn btn-primary">Ver detalle</a> <!-- Botón Ver detalle -->
              </div>
            </div>
          </div>
        </div>
      </div>
  
  