<footer>

    <ul class="contactos">
        <li>
            <i class="fab fa-facebook social-icon"></i>
            <a href="https://www.facebook.com/tuusuario" target="_blank">Facebook</a>
        </li>
        <li>
            <i class="fab fa-twitter social-icon"></i>
            <a href="https://twitter.com/tuusuario" target="_blank">Twitter</a>
        </li>
        <li>
            <i class="fab fa-instagram social-icon"></i>
            <a href="https://instagram.com/tuusuario" target="_blank">Instagram</a>
        </li>
        <li>
            <i class="fab fa-whatsapp social-icon"></i>
            <a href="https://wa.me/tunumerodetelefono" target="_blank">WhatsApp</a>
        </li>
    </ul>

    <img src="../../../assets/img/lineal.png" alt="">
    <div class="imagen">
        <img src="./../../../assets/img/logo_footer.png" alt="">
    </div>
    <div class="informacion">
        <p>Informacion Legal</p>
        <p>Politica de privacidad</p>
    </div>
</footer>