.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.card-img {
  width: 100%;
  height: auto; /* Permite que la altura se ajuste automáticamente */
  object-fit: cover;
  border: none;
}

.card-content {
  padding: 20px;
}

.card-title {
  margin: 0;
  font-size: 1.5em;
}

.location {
  display: flex;
  align-items: center; /* Alinea verticalmente el icono y el texto */
  margin-top: 10px;
}

.location-icon {
  max-width: 20px;
  height: auto;
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.location-text {
  margin: 0;
  color: #666;
}

.ver-mas {
  border: none;
  background: none;
  color: #e64c3c;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out; /* Agregar transición */
  border-radius: 4px; /* Añadir bordes redondeados */
  border: 2px solid transparent; /* Fondo del borde transparente */
}

/* Efecto cuando el cursor pasa por encima */
.ver-mas:hover {
  background-color: #e64c3c; /* Fondo color rojo */
  color: white; /* Cambiar color de texto */
  transform: scale(1.1); /* Aumentar tamaño del botón */
  border-color: #e64c3c; /* Borde con color de fondo */
}

.ver-mas:active {
  transform: scale(1.05); /* Cuando se hace clic, reduce un poco el tamaño */
  opacity: 0.8; /* Hace que se vea un poco más opaco al hacer clic */
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Hace que las tarjetas ocupen todo el ancho en pantallas más pequeñas */
  }

  .card-img {
    height: auto; /* Ajusta la altura de la imagen proporcionalmente */
  }
}
