<!-- perfil.component.html -->

<div class="grit">
  <div class="contenedor-cards">
    <app-card-perfil></app-card-perfil>
    <app-card-perfil-redes></app-card-perfil-redes>
  </div>
  <div class="contenedor">
    <app-card-perfil-datos></app-card-perfil-datos>
    <div>
      <h1>Tus talleres</h1>
      <div class="contenedor-servicios">
        <app-card-perfil-agregar></app-card-perfil-agregar>
        <div class="contenedor-agregar">
          <div>
            <button (click)="abrirModal()">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
