<div class="contenedor">
  <div class="tarjeta">
      <div class="perfil-card-agregar">
          <img src="/assets/img/imgtarjeta1.jpeg" alt="Imagen de perfil">
      </div>
      <h5>Taller Gonzales</h5>
      <div class="buttons">
          <button class="btn-actualizar">Agendar</button>
          <button class="btn-eliminar">Eliminar</button>
      </div>
  </div>

  <div class="tarjeta">
      <div class="perfil-card-agregar">
          <img src="/assets/img/imgtarjeta1.jpeg" alt="Imagen de perfil">
      </div>
      <h5>Taller Gonzales</h5>
      <div class="buttons">
          <button class="btn-actualizar">Agendar</button>
          <button class="btn-eliminar">Eliminar</button>
      </div>
  </div>

  <div class="tarjeta" id="agregarTarjeta">
    <div class="perfil-card-agregar"></div>
      <button class="btn-agregar" onclick="location.href='mostrar-mas.html'">Agregar</button>
  </div>
</div>