.contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a medida que el espacio se reduce */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  width: calc(33.33% - 20px); /* Calcula el ancho de cada tarjeta para mostrar tres tarjetas por fila con un margen entre ellas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}


/* Estilos para los elementos internos de la tarjeta */
.perfil-card-agregar img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h5 {
  margin: 5px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttons a,
.buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons a:hover,
.buttons button:hover {
  background-color: #f0f0f0;
}
