.comentarios-container {
  max-height: 700px; 
  max-width: 700px; /* Altura máxima para el contenedor de comentarios */
  /* Altura máxima para el contenedor de comentarios */
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido se desborda */
  margin-bottom: 20px; /* Espacio entre los comentarios y el formulario */
}

.opinion-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  margin-top: 10px; /* Espacio entre cada comentario */
}

.opinion-text {
  width: calc(100% - 90px); /* Ajusta el ancho del textarea */
  height: 90px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  resize: vertical;
  margin-right: 10px;
}

.agregar-comentario {
  background-color: rgb(250, 40, 40);
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.agregar-comentario:hover {
  background-color: #ff0000; /* Cambio de color al pasar el mouse */
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.descripcion-container {
  background-color: white;
  border-radius: 10px;
  height: 280px;
  margin-bottom: 20px;
  padding: 10px;
}

.detalle-taller {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.imagen-container {
  margin-right: 10px;
  margin-bottom: 10px;

  overflow: hidden;
}

.imgtaller {
  border-radius: 10px;
  width: 800px;
  height: 500px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #BDC3C7; /* Color azul claro */
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
  margin-right: 15px; /* Espacio entre cada ícono, ajusta según sea necesario */
}

.nav-item:first-child {
  margin-left: 50px; /* Agrega margen a la izquierda de la primera imagen */
}

.nav-item:last-child {
  margin-right: 50px; /* Agrega margen a la derecha de la última imagen */
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.nav-icon {
  max-width: 50px;
  height: auto;
  display: block;
}