<div *ngIf="taller">
  <div class="detalle-taller">
    <div class="imagen-container">
      <img class="imgtaller" [src]="taller.foto" alt="Imagen de perfil">
      <div class="descripcion-container">
        <br>
        <h2>{{taller.nombre}}</h2>
        <h3>Descripción:</h3>
        <p>{{taller.descripcion}}</p>  
        <a [routerLink]="['/ubicacion-taller']" class="nav-link">
      <img src="./../../../assets/img/icono4.png" alt="Icono 4" class="nav-icon"><h3>Ubicación:</h3>
        <p>{{taller.ubicacion}}</p>
    </a>
  </div>
        
      </div>  <div class="nav-item">
  
    </div>
  
    <!-- Contenedor para los comentarios -->
    <div class="comentarios-container">
      <div *ngFor="let comentario of comentarios" class="card">
        <div class="opinion-box">
          <img src="assets/img/imgperfil.png" alt="Foto del Usuario 3" class="user-photo">
          <p class="opinion-text">{{comentario.descripcion}}</p>
        </div>
      </div>
    </div>
    <!-- Formulario de opinión -->
    <div class="opinion-box">
      <form [formGroup]="fromComent" (ngSubmit)="crearComentario()">
        <img src="assets/img/imgperfil.png" alt="Foto del Usuario 3" class="user-photo">
        <textarea class="opinion-text" placeholder="Escribe tu opinión aquí..." formControlName="opinion"></textarea>
        <button class="agregar-comentario" type="submit">Agregar Comentario</button>
      </form>
    </div>
    <!-- Fin del formulario de opinión -->
  </div>
</div>





<!-- Contenedor para las tarjetas de categoría de taller -->
<div class="categorias-container">
  <app-taller></app-taller>
</div> <!-- Fin del contenedor de las categorías -->