<div class="block-container">
    <div class="container-login">
        <form [formGroup]="formLogin" (ngSubmit)="submitForm($event)">
                <div class="logo-social">
                <img src="assets/img/logo.png" alt="Logo" class="logo-sena">
                <div class="social-icons">
                    <img src="assets/img/facebook.png" alt="Facebook" class="social-icon">
                    <img src="assets/img/google.png" alt="Google" class="social-icon">
                </div>
            </div>

            <div class="inputs">

                <div class="input-cont">
                    <div>
                        <img [src]="fotoURL" alt="Foto de perfil" class="foto-perfil" *ngIf="fotoURL">
                    </div>
                </div>
                <div class="input-cont">
                    <div>
                        <button type="button" class="custom-file-upload" (click)="seleccionarFoto()">Seleccionar
                            foto</button>
                        <input type="file" id="foto" name="foto" formControlName="foto" accept="image/*"
                            style="display: none;" (change)="onFotoSeleccionada($event)">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-cont">
                        <input type="text" placeholder="Nombre" autocomplete="name" formControlName="primer_nombre">
                    </div>
                    <div class="input-cont">
                        <input type="text" placeholder="Apellido" autocomplete="family-name" formControlName="primer_apellido">
                    </div>
                </div>
                    <div class="input-cont">
                        <input type="date" placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento">
                    </div>
             
                <div class="input-cont">
                    <div>
                        <!-- Campo Departamento (Municipio) -->
                        <select formControlName="municipio" >
                            <option  *ngFor="let municipio of municipios" [value]="municipio.id">
                            {{ municipio.nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="input-cont">
                    <div>
                        <!-- Campo Correo -->
                        <input type="number" placeholder="identificacion" 
                            formControlName="n_identificacion">
                    </div>
                </div>
                <div class="input-cont">
                    <div>
                        <!-- Campo Identificación -->
                        <select formControlName="tipodocumento" >
                            <option  *ngFor="let identificacion of identificaciones" [value]="identificacion.id">
                            {{ identificacion.nombre }}</option>
                        </select>

                    </div>
                </div>
                <div class="input-cont">
                    <div>
                        <!-- Campo Correo -->
                        <input type="email" placeholder="Correo electrónico" autocomplete="new-email"
                            formControlName="email">
                    </div>
                </div>
                <div class="input-cont">
                    <div>
                        <!-- Campo Contraseña -->
                        <input type="password" placeholder="Contraseña" autocomplete="new-password"
                            formControlName="password">
                    </div>
                </div>
                <div class="input-cont-checkbox">
                    <!-- Cuadro de selección para términos y condiciones -->
                    <input type="checkbox" id="termsCheckbox" formControlName="termsCheckbox" class="checkbox-input">
                    <label for="termsCheckbox" class="checkbox-label">Acepto los términos y condiciones</label>
                </div>
            </div>
            <div class="alert"></div>
            <div class="login-button">
                <button type="submit">Crear Cuenta</button>
            </div>
        </form>
    </div>
</div>