<ul>
    <img src="./../../../assets/img/logo.png" alt="">
    <li class="menu-item">
        <a class="menu-link" routerLink="active" routerLink="/">ETSA</a>
    </li>
    <li class="menu-item" (click)="toggleCategories()">
        <a class="menu-link" [routerLink]="['/categoria-taller']">Categorías</a>
    </li>

    <li class="menu-item">
        <input type="search" name="Buscar" id="search">
    </li>
    <li class="item-registrate">
        <a class="link-registrate" routerLink="rejistro/">Registrate</a>
    </li>    <li class="item-iniciar">
        <a class="link-login" routerLink="login/">Iniciar sesion</a>
    </li>
</ul>
