<ul>
    <img src="./../../../assets/img/logo.png" alt="">
    <li class="menu-item">
        <a class="menu-link" routerLink="active" routerLink="/">ETSA</a>
    </li>
    <li class="menu-item" (click)="toggleCategories()">
        <a class="menu-link" [routerLink]="['/categoria-taller']">Categorías</a>
    </li>

    <li class="menu-item">
        <input type="search" name="Buscar" id="search">
    </li>
    <li class="item-registrate" *ngIf="!usuarioId">
        <a class="link-registrate" routerLink="registro/">Registrate</a>
    </li>
    <li class="item-iniciar" *ngIf="!usuarioId">
        <a class="link-login" routerLink="login/">Iniciar sesión</a>
    </li>
    <li class="item-iniciar" *ngIf="usuarioId">

        <ng-container *ngIf="usuarioVendedor; else perfilNormal">
            <a class="link-registrate" routerLink="perfil-venta/">Perfil</a>
        </ng-container>
        <ng-template #perfilNormal>
            <a class="link-registrate" routerLink="perfil/">Perfil</a>
        </ng-template>
    </li>
    

     

</ul>