<div *ngIf="usuarioGuardado">
<div class="contenedor">
    <div class="perfil-card">
        <div class="foto">
          <img [src]="API_URL + usuarioGuardado.foto" alt="Imagen de perfil">
        </div>
        <ul>
          <li class="nombre">
            <span>{{usuarioGuardado.primer_nombre }} </span>
          </li>
          <li>
            <span>{{usuarioGuardado.vendedor? 'vendedor': 'cliente' }}</span>
          </li>
          <li>
            <span> {{ usuarioGuardado.municipio.departamento_id.nombre }}</span>
          </li>
        </ul>
    </div>
  </div>
</div>
