.contenedor{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.perfil-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
}
.foto{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.foto img{
  display: flex;
  width:120px ;
  height:120px;
}
ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}
ul li{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nombre{
  font-size: 30px;
  font-weight: 600;
}
h1{
  font-size: 15px;
  font-weight: 600;
}


/* desde aca  */






.link-registrate{
  text-decoration: none;
  color: #E74C3C;
  border: none;
}

.link-registrate:hover{
  color: #9DB2C3;
}






.item-iniciar{
  display: inline-block;
  border: none;
  padding: 10px 20px;
  border: 5px;
  background-color: #E0E9F0;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;

}









