.contenedor{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.perfil-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
}
.foto{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.foto img{
  display: flex;
  width:120px ;
  height:120px;
}
ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}
ul li{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nombre{
  font-size: 30px;
  font-weight: 600;
}
h1{
  font-size: 15px;
  font-weight: 600;
}
