<div *ngIf="usuarioGuardado">
  <div class="contenedor">
    <div class="perfil-card">
      <div class="foto">
        <ng-container *ngIf="usuarioGuardado.foto">
          <img [src]="API_URL + usuarioGuardado.foto" alt="Imagen de perfil">
        </ng-container>
        <ng-container *ngIf="!usuarioGuardado.foto">
          <img src="../../../../assets/img/imgperfil.png" alt="Imagen predeterminada">
        </ng-container>
      </div>

      <ul>
        <li class="nombre">
          <span>{{usuarioGuardado.primer_nombre }} </span>
        </li>
        <li>
          <span>{{usuarioGuardado.vendedor? 'cliente': 'vendedor' }}</span>
        </li>
        <li>
          <span> {{ usuarioGuardado.municipio.departamento_id.nombre }}</span>
        </li>
            

      <li class="item-iniciar" (click)="cerrarcesion()">
        <a class="link-registrate" >cerrar secion</a>
        
    </li>
     
      </ul>
    </div>
  </div>
</div>