.mapa-container {
  width: 100%; /* Ancho del contenedor al 100% del contenedor padre */
  height: 750px; /* Altura del mapa */
}

.mapa-container iframe {
  width: 100%; /* Ancho del iframe al 100% del contenedor */
  height: 100%; /* Altura del iframe al 100% del contenedor */
}
